html, body{ 
  min-width:100%;
  width: 100%;
}

body{
  background: #000000;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 15px;
}
a{
  color: #D9CCCD;
  outline: none;
  border: none;
}
a:hover, a:focus{
  text-decoration: none;
  color: #E1C1C3;
  outline: none;
}
#container{
  margin: 80px auto 30px auto;
  text-align: center;
  background: url('../images/crew.jpg') center center;
  height: 630px;
  min-width: 100%;
  padding-top: 30px;
}
#logo-wrapper{
  margin: 0 auto;
}
#logo-wrapper img {
  margin: 0 auto;
}
h1{
  font-size: 4.5em;
  line-height: 110%;
  margin: 20px 0;
}
#social{
  width: 105px;
  margin: 30px auto 10px auto;
}
.social{
  background: url('../images/social.png') 0 0;
  width: 48px;
  height: 48px;
  display: inline-block;
  text-indent: -9999px;
}
.facebook{
  background-position: 0px 0px;
  margin-right: 3px;
}
.twitter{
  background-position: 0px -116px;
}
@media only screen and (max-width: 800px) and (min-width: 320px) {
  #container{
    margin-top: 10%;
    height: 700px;
  }
  h1 {
    font-size: 2.9em;
  }
}
/*.youtube{
  background-position: 0px -58px;
}*/